@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Playfair+Display&family=Roboto+Slab&display=swap'); /*importa font*/

/* "*" applica a tutti gli elementi le proprieta all'interno delle {} */
*{
	margin: 0; /* crea spazio attorno agli elementi, al di fuori di qualsiasi confine definito.*/
	box-sizing: border-box; /* proprietà ci consente di includere il padding e il bordo nella larghezza e altezza totale di un elemento */
	font-family: 'Roboto Slab', serif; 
}

/* */
:root{			
	--bgColor: #191919;/* "--" rappresentano proprietà personalizzate che contengono un valore che può essere utilizzato in altre dichiarazioni utilizzando la funzione var().*/
	--fontColor: #FFFFFF;
	--bodyColor: #181a1b;
	--topBarHeight: 110;
}

body{background: var(--bodyColor);}

a {
	text-decoration: none;
	color: var(--fontColor);
}


/* TOPBAR */
#topBar{
	height: calc(var(--topBarHeight) * 1px); 	
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--bgColor);
	z-index: 2;
	border-bottom: 1px solid rgb(255, 255, 255, 0.4);
}

#topBar > img{
	position: absolute;	
	display: inline-block;
	width: 105px;
	height: 60px;
	top: 50%;
	transform: translateY(-50%);
	left: 5%;
}

#topBar > #links{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
}

#topBar > #links > a{
	font-size: 18px;
	margin-right: 30px;
}

#topBar > #links *.selected{border-bottom: 1px solid white}

#container{
	margin-top:  calc(var(--topBarHeight) * 1.1px);
	margin-bottom: 200px;
	color: var(--fontColor);
	width: 900px;
	position: relative;	
	left: 50%;
	transform: translateX(-50%);
}

#container > .title{margin-top: 20px; font-size: 40px}
#container > .textBlock > .descrizione{font-size: 18px;}
#container > .textBlock .subTitle{
	color: rgba(255,255,255,0.5);
}

#container > .textBlock img.image{
	width: 200px;
	float: right;
	margin: 20px;
	box-shadow: 3px 3px rgba(0,0,0,0.5);
}

